<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.peng.ceramic.ceramic_sell.dao.FeedBackMapper">
  <resultMap id="BaseResultMap" type="im.peng.ceramic.ceramic_sell.model.po.FeedBack">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="BIGINT" property="gmtModify" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="feed_msg" jdbcType="VARCHAR" property="feedMsg" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modify, open_id, feed_msg
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from feed_back
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from feed_back
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="im.peng.ceramic.ceramic_sell.model.po.FeedBack">
    <!--@mbg.generated-->
    insert into feed_back (id, gmt_create, gmt_modify, 
      open_id, feed_msg)
    values (#{id,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=BIGINT}, #{gmtModify,jdbcType=BIGINT}, 
      #{openId,jdbcType=VARCHAR}, #{feedMsg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="im.peng.ceramic.ceramic_sell.model.po.FeedBack">
    <!--@mbg.generated-->
    insert into feed_back
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="feedMsg != null">
        feed_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="feedMsg != null">
        #{feedMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="im.peng.ceramic.ceramic_sell.model.po.FeedBack">
    <!--@mbg.generated-->
    update feed_back
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=BIGINT},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="feedMsg != null">
        feed_msg = #{feedMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="im.peng.ceramic.ceramic_sell.model.po.FeedBack">
    <!--@mbg.generated-->
    update feed_back
    set gmt_create = #{gmtCreate,jdbcType=BIGINT},
      gmt_modify = #{gmtModify,jdbcType=BIGINT},
      open_id = #{openId,jdbcType=VARCHAR},
      feed_msg = #{feedMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>