<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.peng.ceramic.ceramic_sell.dao.GoodsCollectMapper">
  <resultMap id="BaseResultMap" type="im.peng.ceramic.ceramic_sell.model.po.GoodsCollect">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gmt_create" jdbcType="INTEGER" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="INTEGER" property="gmtModify" />
    <result column="good_id" jdbcType="VARCHAR" property="goodId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, gmt_create, gmt_modify, good_id, open_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods_collect
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from goods_collect
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="im.peng.ceramic.ceramic_sell.model.po.GoodsCollect">
    <!--@mbg.generated-->
    insert into goods_collect (id, gmt_create, gmt_modify, 
      good_id, open_id)
    values (#{id,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=INTEGER}, #{gmtModify,jdbcType=INTEGER}, 
      #{goodId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="im.peng.ceramic.ceramic_sell.model.po.GoodsCollect">
    <!--@mbg.generated-->
    insert into goods_collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="goodId != null">
        good_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="im.peng.ceramic.ceramic_sell.model.po.GoodsCollect">
    <!--@mbg.generated-->
    update goods_collect
    <set>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        good_id = #{goodId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="im.peng.ceramic.ceramic_sell.model.po.GoodsCollect">
    <!--@mbg.generated-->
    update goods_collect
    set gmt_create = #{gmtCreate,jdbcType=INTEGER},
      gmt_modify = #{gmtModify,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>